@charset "utf-8";

.clearfix:after{
	clear: both;
	display: block;
	content: '';
}

/*
 * IE6兼容问题的清除浮动
 */
.clearfix{
	zoom: 1;
}

/*
 * 左浮动
 */
.fl{
	float: left;
}

/*
 * 有浮动
 */
.fe{
	float: right;
	position:absolute;
	top:95px;
	left: 550px;
}
.fr{
	float: right;
}
/*
 * 安全距离，容器
 */

.container{
	width:100%;
	background: #eeeeee;
	/*padding:30px 60px 65px 30px;*/
}
.content{
	width:780px;
	background: #ffffff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius: 8px;
	margin: 30px auto;
}
b,strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body,html{
	background: #eeeeee;
	height: 100%;
}

.searchdoctor{
	float: right;
	position:absolute;
	top:95px;
	left: 720px;
}
.a{
	position: absolute;
	top:85px;
	left: 350px;
}
.b{
	
	position: absolute;
	top:59px;
	left:-60px;
	
}

