/*修改表格的样式*/

table{width: 90%;background: #ccc;margin: 10px;border-collapse: collapse;}

th, td {height:35px;line-height:35px;text-align:center;border:1px solid #ccc;}

th{background: #eee;font-weight: normal;}

tr{background: #fff;}

tr:hover{background: #EEE;}

