@charset "utf-8";
h1{
	font-family: 楷体;
	font-size: 48px;
	color: pink;
text-align: center;

}
hr{
	width: 80%;
}
#reg{
	text-align: center;
}
input{
	font-size:24px ;
}
input[type=submit]{
	width: 200px;
	height: 45px;
	font-size: 24px;
	background-color: lightgray;
	
}
