@charset "utf-8";
h1{
  font-family: "楷体";
	font-size: 50px;
	text-align: center;
	color:blueviolet;
	
} 
hr{
	width:700px;
	
}
.box{
text-align: center;
	
}
.a{
	margin-left: 250px;
  margin-right: 250px;
	background-color:beige;
	}
#username,#password,#email{
	font-size: 20px;
	color:black;
	background-color: aliceblue;
}
input[type=submit]{
	width:100px;
	height: 40px;
	color: white;
	background-color:cadetblue;
	
}

